#bob
{
    width: 50%;
    height: 50%;
}

#bob_op
{
    width: 50%;
    height: 70%;
}

#bob_op_mo
{
    width: 50%;
    height: 75%;
}

#bob-op_mo_bo
{
    width: 50%;
    height: 10%;
}